/* global */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto', sans-serif;
}

/* utilities */
.read-btn{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    font-size:small ;
}

/* nav */
.nav-bar img{
    width: 25px;
    height: 35px;
    margin-left: 10px;

}  
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 300px;
}
.links-container a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 510;
    font-size: 12px;
    letter-spacing: 2px;
}
.links-container a:last-of-type{
    margin-right: 20px;
   
}
.search-link,.renew-link,.menu-link,.big-logo{
    display: none;
}
#sub-link { 
    padding: 15px;
    color: white;
    background-color: black;
    

}
#sub-link:hover{
    background-color: rgb(224, 185, 12); 
    transition:all .3s ease-in; 

}
/* header */
header{ 
    color: white;
    background-color: black;
    height: 300px;
    margin-top: 1px;
    
}
.header-item{
    display: flexblock;
    flex-direction:row;
    text-align: center;
    justify-content: space-evenly;
    
    
}
.sub{
    border-bottom: 2px solid rgb(224, 185, 12);
}
.header-head{
    letter-spacing: 5px;
    font-size:larger ;
    padding-top: 130px;
    padding-bottom: 20px;
}


.header.par{
    display: flex;
}
.header-tack{
    font-weight:bolder;
    font-size: xx-large;
    color: rgb(224, 185, 12);
}

/* main */
.main-container{
    background-color: rgb(7, 6, 6);
}
.main-news-total{
    background-color: rgb(5, 4, 4);
    padding: 20px;
}
.main-news{
    position: relative;
}.secondary-news-text1{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight:bolder;
    font-size:36px;
    letter-spacing: 2px;
    margin-top: 200px;
}

.secondary-news-text{
    color: rgb(3, 3, 3) ;
    position:relative;
    font-weight: 600;
    bottom: 20px;
    font-size: large;
    background-color: white;
    margin-top: 20px ;
}
.secondary-news-image1 img{
    width: 100%;
    height: 400px;
    position:relative;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(224, 185, 12);
    border-right: 5px solid rgb(224, 185, 12);
    border-left: 2px solid white;
    border-top: 2px solid white;
    
    
}

.secondary-news-image img{
    width: 100%;
    height: 400px;
    position:relative;
    
    
}
.secondary-news-image:hover{
    transition: all .7s ease-in;
    background-color: rgb(224, 185, 12);
     
}
.secondary-header1{
    bottom: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: large;
    letter-spacing: 2px;
    color: white;
    font-family:monospace;
}
.secondary-header{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: large;
    letter-spacing: 2px;
    color:rgb(7, 7, 7);

}
.sidebar-container{
    background-color: black;
    padding-bottom: 40px;
}
.sidebar-header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 2px;
    padding-top: 30px;
    background-color: black;

}
.sidebar-tack{
    color: rgb(224, 185, 12);
    margin-right: 20px;
    font-size:40px;
    padding-left: 10px;
    font-weight: 600;

}
.sidebar-pick{
    margin: 3px;
    margin-left: 10px;
    display: flex ;
    padding: 10px;
    color: white;
}

.sidebar-pick-text{
    color: white;
    font-weight: bold;
    justify-content: space-between;


}
.sidebar-pick-img img{
    width: 100px;
    height: 100px;
    padding-right: 10px;
    
    
}
.sidebar-sub{
    font-size: small;
}
.see-more{
    text-align: center;
    color: white;
    margin-top: 20px;
    border-bottom: 2px solid rgb(224, 185, 12);
    margin-right: 255px;
    margin-left: 255px;
}
/* footer */

